### Introduction to Lists, Arrays, and Dictionaries in Python

# Lists in Python
A list is a collection that is ordered and changeable. It allows duplicate members.

In [11]:
my_list = [1, 2, 3, 4, 5]  # A simple list of integers
mixed_list = [1, "hello", 3.14, True]  # A mixed data type list

# Accessing elements
print("First element:", my_list[0])  # Access first element
print("Last element:", my_list[-1])  # Access last element

# Modifying lists
my_list.append(6)  # Adding an element
print("After appending:", my_list)

my_list.remove(3)  # Removing an element
print("After removing 3:", my_list)

First element: 1
Last element: 5
After appending: [1, 2, 3, 4, 5, 6]

In [8]:
# Slicing lists (Complete)
print("First three elements:", my_list[0:3])

First three elements: [1, 2, 4]

# (Easy): Find the sum of all elements in a list

In [12]:
sum_list = sum(my_list)
print("Sum of list elements:", sum_list)

Sum of list elements: 21

### Solution

In [ ]:
sum_list = sum(my_list)
print("Sum of list elements:", sum_list)

# (Medium): Find the second largest element in a list

In [17]:
my_list = [5, 3, 7, 8, 10, 1]
sorted_list = sorted(my_list, reverse=True)
print(sorted_list)

[10, 8, 7, 5, 3, 1]

In [18]:
second_largest = sorted_list[1]
print("Second largest element:", second_largest)

Second largest element: 8

### Solution

In [ ]:
sorted_list = sorted(my_list, reverse=True)
second_largest = sorted_list[1]
print("Second largest element:", second_largest)

# Dictionary

In [24]:
# Employee Salaries in a Company

employee_salaries = {
    "A": 60000,
    "B": 55000,
    "C": 70000,
    "D": 62000,
    "E": 58000
}

# Print the dictionary
print(employee_salaries)

# Print A's salary
print("A's salary: ", employee_salaries['A'])

# Update B's salary to 65000
employee_salaries['B'] = 65000

# Add a new employee called F with salary 65000
employee_salaries['F'] = 65000

# Delete employee C
# employee_salaries.pop("C")
del employee_salaries['C']

# Print the updated list
print(employee_salaries)

{'A': 60000, 'B': 55000, 'C': 70000, 'D': 62000, 'E': 58000}
A's salary:  60000
{'A': 60000, 'B': 65000, 'D': 62000, 'E': 58000, 'F': 65000}

### Solution

In [ ]:
# Print dictionary
print(employee_salaries)

# Accessing an employee's salary
print("A's salary:", employee_salaries["A"])

# Updating a salary
employee_salaries["B"] = 57000

# Adding a new employee
employee_salaries["F"] = 65000

# Removing an employee
del employee_salaries["C"]

# Printing the updated dictionary
print("Updated Employee Salaries:", employee_salaries)

# Loops and Functions Examples

In [31]:
# Using a for loop to print each item in a list
my_list = [5, 3, 7, 8, 10, 1, 100, 8]

for i in my_list:
  print(i)

5
3
7
8
10
1
100
8

### Solution

In [ ]:
for num in my_list:
    print(num)

## While Loop

In [28]:
# Using a while loop
my_list = [5, 3, 7, 8, 10, 1, 100, 8]
i = 0
while i < len(my_list):
  # print('-'*50)
  # print('i =', i)
  print(my_list[i])
  i += 1

5
3
7
8
10
1
100
8

### Solution

In [ ]:
# Using a while loop
i = 0
while i < len(my_list):
    print(my_list[i] + 1)
    i += 1

## Simple Function

In [ ]:
# Function to find the maximum number in a list
def find_max(lst):
    max_value = ____
    for num in lst:
        if ______:
            max_value = num
    return max_value

print("Maximum value in the list:", find_max(my_list))

### Solution

In [ ]:
# Function to find the maximum number in a list
def find_max(lst):
    max_value = lst[0]
    for num in lst:
        if num > max_value:
            max_value = num
    return max_value

print("Maximum value in the list:", find_max(my_list))

## Fraud Detection in Banking Transactions

In [33]:
def detect_fraud(transactions):
    avg_spending = sum(transactions)/len(transactions)
    print(avg_spending)
    # suspicious = [t for t in transactions if t > avg_spending*2]  # Filter for transactions more than 2 times the average spending
    suspicious = []
    for t in transactions:
      if t > avg_spending*2:
        suspicious.append(t)

    return suspicious

# Example transaction history
transactions = [50, 55, 60, 150, 200, 45, 70]

# Detect fraud
print("Suspicious Transactions:", detect_fraud(transactions))

90.0
Suspicious Transactions: [200]

### Solution

In [ ]:
def detect_fraud(transactions):
    avg_spending = sum(transactions) / len(transactions)
    suspicious = [t for t in transactions if t > 2 * avg_spending]
    return suspicious

# Example transaction history
transactions = [50, 55, 60, 150, 200, 45, 70]

# Detect fraud
print("Suspicious Transactions:", detect_fraud(transactions))