## Writing a Function to Identify a Palindrome

In [1]:
movie_name = "malayalam"
print (movie_name[::-1])

malayalam

In [2]:
movie_name = "Snow"
print (movie_name[::-1])

wonS

In [5]:
def is_palindrome(movie_name):
    return movie_name == movie_name[::-1]

movie_name = "malayalam"
print (is_palindrome(movie_name))

True

In [6]:
movie_name = "XYZ"
print (is_palindrome(movie_name))

False

## Iteration with For Loop

In [10]:
movie_name = ["malayalam", "Forest Gump", "Madam", "EYE"]

for movie in movie_name:
    print (f"{movie}: {is_palindrome(movie.upper())}")

malayalam: True
Forest Gump: False
Madam: True
EYE: True

## Iteration with While Loop

In [11]:
count = 0
while count < 10:
    print (count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [12]:
import math

In [14]:
numeric_num = 4
math.sqrt(numeric_num)

2.0

In [15]:
def print_sqrt(numbers):
    for x in numbers:
        print (f"The square root of {x} is {math.sqrt(x)}")

In [16]:
numbers = [4, 16, 9, 25]

In [17]:
print_sqrt(numbers)

The square root of 4 is 2.0
The square root of 16 is 4.0
The square root of 9 is 3.0
The square root of 25 is 5.0

In [20]:
def square_function(numbers):
    for x in numbers:
        print (f"The square of {x} is {x**2}")

In [21]:
square_function(numbers)

The square of 4 is 16
The square of 16 is 256
The square of 9 is 81
The square of 25 is 625

In [22]:
def print_sqrt(numbers):
    for x in numbers:
        print (f"The square root of {x} is {int(math.sqrt(x))}")

In [23]:
print_sqrt(numbers)

The square root of 4 is 2
The square root of 16 is 4
The square root of 9 is 3
The square root of 25 is 5

In [27]:
def print_sqrt(my_num):
  for x in my_num:
    print(f"The squre root of {x} is {math.sqrt(x)}")

In [28]:
my_num = [1,3,4,5,6]
print_sqrt(my_num)

The squre root of 1 is 1.0
The squre root of 3 is 1.7320508075688772
The squre root of 4 is 2.0
The squre root of 5 is 2.23606797749979
The squre root of 6 is 2.449489742783178

## List Comprehensions

In [29]:
numbers = [1, 2, 3, 4, 5]

squares = [m**2 for m in numbers]

print (squares)

[1, 4, 9, 16, 25]

In [30]:
check_even = [x for x in numbers if x % 2 == 0]
print (check_even)

[2, 4]

## Error Handling in Python

In [32]:
num = int(input("Enter a number: "))
print("You have entered: ", num)

Enter a number: xyz

ValueError: invalid literal for int() with base 10: 'xyz'

In [36]:
try:
    num = int(input("Enter a number: "))
    print("You have entered: ", num)
except ValueError:
    print ("Invalid input! Please enter a valid number")

Enter a number: x5
Invalid input! Please enter a valid number

In [37]:
# prompt: Why we used ValueError keyword in the above code?

try:
    num = int(input("Enter a number: "))
    print("You have entered: ", num)
except:
    print ("Invalid input! Please enter a valid number")

Enter a number: x5
Invalid input! Please enter a valid number

## **Lambda Function**

In [38]:
square = lambda x: x ** 2
print(square(5))

25

In [39]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print("Doubled Numbers:", doubled_numbers)

Doubled Numbers: [2, 4, 6, 8, 10]

pandas,
numpy,
statsmodels,
scipy,
scikitlearn,
tensorflow,
pytorch

In [40]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8., 9]
]

In [41]:
# what's the value of second row and first column?
matrix[1][0]

4